## SOCIAL MEDIA SENTIMENTS ANALYSIS DATASET - SOSYAL MEDYA DUYGU ANALÄ°ZÄ° VERÄ° SETÄ°

In [290]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sbn

In [292]:
dataFrame=pd.read_csv("C:\\Users\\Sena\\Desktop\\SenaVeAzizProje\\sentimentdataset.csv")

In [294]:
dataFrame.head()

,Unnamed: 0.1,Unnamed: 0,Text,Sentiment,Timestamp,User,Platform,Hashtags,Retweets,Likes,Country,Year,Month,Day,Hour
0,0,0,Enjoying a beautiful day at the park! ...,Positive,2023-01-15 12:30:00,User123,Twitter,#Nature #Park,15.0,30.0,USA,2023,1,15,12
1,1,1,Traffic was terrible this morning. ...,Negative,2023-01-15 08:45:00,CommuterX,Twitter,#Traffic #Morning,5.0,10.0,Canada,2023,1,15,8
2,2,2,Just finished an amazing workout! ðŸ’ª ...,Positive,2023-01-15 15:45:00,FitnessFan,Instagram,#Fitness #Workout,20.0,40.0,USA,2023,1,15,15
3,3,3,Excited about the upcoming weekend getaway! ...,Positive,2023-01-15 18:20:00,AdventureX,Facebook,#Travel #Adventure,8.0,15.0,UK,2023,1,15,18
4,4,4,Trying out a new recipe for dinner tonight. ...,Neutral,2023-01-15 19:55:00,ChefCook,Instagram,#Cooking #Food,12.0,25.0,Australia,2023,1,15,19

## Removing columns containing numeric data - SayÄ±sal veri iÃ§eren sÃ¼tunlarÄ± kaldÄ±rma

In [297]:
dataFrame = dataFrame.drop(["Unnamed: 0.1", "Unnamed: 0", "Timestamp", "Retweets", "Likes", "Year", "Month", "Day", "Hour"], axis=1)

In [299]:
dataFrame.head()

,Text,Sentiment,User,Platform,Hashtags,Country
0,Enjoying a beautiful day at the park! ...,Positive,User123,Twitter,#Nature #Park,USA
1,Traffic was terrible this morning. ...,Negative,CommuterX,Twitter,#Traffic #Morning,Canada
2,Just finished an amazing workout! ðŸ’ª ...,Positive,FitnessFan,Instagram,#Fitness #Workout,USA
3,Excited about the upcoming weekend getaway! ...,Positive,AdventureX,Facebook,#Travel #Adventure,UK
4,Trying out a new recipe for dinner tonight. ...,Neutral,ChefCook,Instagram,#Cooking #Food,Australia

## Writing words in lower case - Kelimeleri kÃ¼Ã§Ã¼k harfle yazma

In [302]:
dataFrame["Text"] = dataFrame["Text"].str.lower()

In [304]:
dataFrame["Sentiment"] = dataFrame["Sentiment"].str.lower()

In [306]:
dataFrame["User"] = dataFrame["User"].str.lower()

In [308]:
dataFrame["Platform"] = dataFrame["Platform"].str.lower()

In [310]:
dataFrame["Hashtags"] = dataFrame["Hashtags"].str.lower()

In [312]:
dataFrame["Country"] = dataFrame["Country"].str.lower()

In [314]:
dataFrame.head()

,Text,Sentiment,User,Platform,Hashtags,Country
0,enjoying a beautiful day at the park! ...,positive,user123,twitter,#nature #park,usa
1,traffic was terrible this morning. ...,negative,commuterx,twitter,#traffic #morning,canada
2,just finished an amazing workout! ðŸ’ª ...,positive,fitnessfan,instagram,#fitness #workout,usa
3,excited about the upcoming weekend getaway! ...,positive,adventurex,facebook,#travel #adventure,uk
4,trying out a new recipe for dinner tonight. ...,neutral,chefcook,instagram,#cooking #food,australia

## Remove punctuation marks - Noktalama iÅŸaretlerini kaldÄ±rma

In [317]:
import re

In [319]:
dataFrame["Text"] = dataFrame["Text"].str.strip()

In [321]:
punctuation_pattern = re.compile(r"[^\w\s]", re.UNICODE)
dataFrame["Text"] = dataFrame["Text"].apply(lambda x: punctuation_pattern.sub("", x))

In [323]:
punctuation_pattern = re.compile(r"[^\w\s]", re.UNICODE)
dataFrame["Hashtags"] = dataFrame["Hashtags"].apply(lambda x: punctuation_pattern.sub("", x))

In [325]:
dataFrame.head()

,Text,Sentiment,User,Platform,Hashtags,Country
0,enjoying a beautiful day at the park,positive,user123,twitter,nature park,usa
1,traffic was terrible this morning,negative,commuterx,twitter,traffic morning,canada
2,just finished an amazing workout,positive,fitnessfan,instagram,fitness workout,usa
3,excited about the upcoming weekend getaway,positive,adventurex,facebook,travel adventure,uk
4,trying out a new recipe for dinner tonight,neutral,chefcook,instagram,cooking food,australia